*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline:none;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
 }

 .body-about-us{
  background: url(../../assets/Mainbackground3.png);
 
 }
 .About-us{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 9rem;
    margin-bottom: 60px;
   
 }


 .About-us-img img{
  width: 80%;
  height:auto;
  border-radius:10px;
  margin-left: 25px;
  margin-top: 40px;
 }

 .About-us-text h2{
   text-align: center;
   color:#176fc2;
   font-size:23px;
   font-weight:800;
   line-height:1.2;
   margin-bottom:25px;
   
    
 }

 .About-us-text h5{
  text-align: center;
  font-size:30px;
  font-weight:700;
  color:darkblue;
  text-transform:uppercase;
  letter-spacing:6px;
  margin-bottom:20px;
  

}
 

 .About-us-text p{
  text-align: justify;
    text-justify: distribute-all-lines;
    font-size: 17px;
    font-weight:700;
    line-height: 50px;
    color:#666;
    margin-bottom: 60px;
    margin-right: 25px;
 }
    
   
    
 


 .Our-story-img img{
    width: 80%;
    height:auto;
    border-radius:10px;
    margin-left: 25px;
    margin-top: 5px;
  
  

 }

 .Our-story-text h2{
   text-align: center;
   color:#176fc2;
   font-size:24px;
   font-weight:800;
   line-height:1.2;
   margin-bottom:25px;
  
   
 }
 
 .Our-story-text h5{
   text-align: center;
   font-size: 30px;
   font-weight:700;
   color:darkblue;
 
   text-transform:uppercase;
   letter-spacing:6px;
   margin-bottom:20px;
   margin-top: 10px;
 }

 .Our-story-text p{
    
  text-align: justify;
    text-justify: distribute-all-lines;
    font-size: 17px;
    font-weight:700;
    line-height: 50px;
    color: #666;
    margin-bottom: 35px;
    margin-right: 25px;
    
 }



  
 @media (max-width: 1050px){
    
  .About-us{
      gap:3rem;
  }
  
  
}

@media (max-width: 800px) {
  .About-us {
      grid-template-columns: 1fr;
  }
  .About-us-img img {
      width: 100%;
      height: auto; 
  }
  .About-us-text {
      margin-left: 20px;
  }
  .Our-story-img {
      grid-template-columns: 1fr;
  }
  .Our-story-img img {
      width: 85%;
      height: auto; 
  }
  .Our-story-text {
      margin-left: 20px;
  }
}


@media screen and (max-width: 600px) {
  .About-us {
    grid-template-columns: 1fr;
    
}
.body-about-us{
    margin-top: -200px;
}
.About-us-img img {
    width: 85%;
    height: auto; 
}
.About-us-text {
    margin-left: 20px;
}
.Our-story-img {
    grid-template-columns: 1fr;
}
.Our-story-img img {
    width: 85%;
    height: auto; 
}
.Our-story-text {
    margin-left: 20px;
}
}


@media screen and (min-width: 601px) and (max-width: 900px) {
  .About-us {
    grid-template-columns: 1fr;
 
}
.About-us-img img {
    width: 85%;
    height: auto; 
}
.About-us-text {
    margin-left: 20px;
}
.Our-story-img {
    grid-template-columns: 1fr;
}
.Our-story-img img {
    width: 85%;
    height: auto; 
}
.Our-story-text {
    margin-left: 20px;
}
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .About-us {
    grid-template-columns: 1fr;
  
}
.About-us-img img {
    width: 85%;
    height: auto; 
}
.About-us-text {
    margin-left: 20px;
}
.Our-story-img {
    grid-template-columns: 1fr;
}
.Our-story-img img {
    width: 85%;
    height: auto; 
}
.Our-story-text {
    margin-left: 20px;
}
}

@media screen and (min-width: 1025px) {
  .About-us{
    gap:3rem;
}
}
