/*Cards*/

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

.body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}






.card-container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:25px;
    margin-top: 100px;
    z-index: 1;
}


.card{
    width:250px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    overflow:hidden;
    transition: transform 0.6s ease;
}
.card:hover{
    transform: translateY(-20px);
}

.card img{
    width:100%;
    height:auto;
    object-fit: cover;
}

.card-content h1{
    font-size: 15px;
    color:black;
    text-align: center;
    margin-bottom: 10px;
}



.Benefits-heading{
    text-align: center;
}

.Benefits-heading h2{
    font-size: 40px;
    font-weight: 700;
    color:darkblue;
    margin-top: 30px;
}

.card-content a{
   font-size: 15px;
  
    color:#ffed2a;
    display:inline-block;
    background-color: #00489d;
    text-decoration: none;
    border-radius: 5px;
    padding:5px;
 
}

.card-content a:hover{
   
    border: 2px solid #ffed2a;
    background: transparent;
    color: #00489d;
}

.card-content{
    padding:20px;
}
/* Information*/
.Information{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 9rem;
}

.Information-img img{
 margin-top: 290px;
  width: 100%;
  height:auto;
  border-radius:10px;
  

}

.Information-text h2{
 text-align: center;
 color:dodgerblue;
 font-size: 23px;
 font-weight:800;
 line-height:1.2;
 margin-bottom:25px;
 
  
}

.Information-text h5{
 text-align: center;
 font-size:30px;
 font-weight:700;
 color:darkblue;
 letter-spacing:6px;
 margin-bottom:20px;
 margin-top: 140px;
}

.Information-text p{
 text-align: justify;
 text-justify: distribute-all-lines;
 font-size: 16px;
 font-weight:700;
 line-height: 40px;
 color:#666;
 margin-bottom: 35px;
  
}


.container3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Alinea las cartas en el centro */
}

.card4 {
  width: 20%; /* Reducir el ancho de las tarjetas */
  margin-bottom: 20px; /* Reducir el espacio entre las tarjetas */
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card4 img {
  width: 100%;
  height: auto;
}

.card-info {
  padding: 10px;
}
.card-info h3{
  color:darkblue;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}

.card-info p{
  line-height: 30px;
  color:#313131;
  font-size: 20px;
  font-weight: 700;
}


@media screen and (max-width: 768px) {
  .card4 {
    width: 90%; /* Ajustar el ancho para dispositivos móviles */
    margin: 10px auto; /* Alinear al centro y agregar espacio entre las tarjetas */
  }
}
/*Information Cards */




  @media (max-width: 1050px){
    .Information{
      gap: 3rem;
  }
 
 }

 @media(max-width: 800px){
  .Information{
    grid-template-columns: 1fr;
}

 }

 @media screen and (max-width: 400px) {
    .card1 {
      width: 100%; 
    }
  }
  
  




