/*Cards*/

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

.body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}






.card-container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:25px;
    margin-bottom: 350px;
    z-index: 1;
}


.card{
    width:250px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    overflow:hidden;
    transition: transform 0.6s ease;
}
.card:hover{
    transform: translateY(-20px);
}

.card img{
    width:100%;
    height:auto;
    object-fit: cover;
}

.card-content h1{
    font-size: 15px;
    color:#176fc2;
    text-align: center;
    margin-bottom: 10px;
}



.Benefits-heading{
    text-align: center;
}

.Benefits-heading h2{
    font-size: 40px;
    font-weight: 700;
    color:darkblue;
    margin-top: 100px;
}

.card-content a{
   font-size: 15px;
  
    color:#ffed2a;
    display:inline-block;
    background-color: #00489d;
    text-decoration: none;
    border-radius: 5px;
    padding:5px;
 
}

.card-content a:hover{
   
    border: 2px solid #ffed2a;
    background: transparent;
    color: #00489d;
}

.card-content{
    padding:20px;
}
/* Information*/
.Information{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 9rem;
}

.Information-img img{
 margin-bottom: 200px;
  width: 100%;
  height:auto;
  border-radius:10px;
  

}


.Information-text h5{
 text-align: center;
 font-size:30px;
 font-weight:700;
 color:#176fc2;
 letter-spacing:6px;
 margin-bottom:20px;
 margin-top: -240px;
}
.Information-text-1 h5{
  text-align: center;
 font-size:30px;
 font-weight:700;
 color: darkblue;
 letter-spacing:6px;
 margin-bottom:20px;
 margin-top: -240px;
}

.Information-text2{
  text-align: center;
  font-size:40px;
  font-weight:700;
  color:darkblue;
  letter-spacing:6px;
  margin-bottom:20px;
  margin-top: -240px;
}

.Information-text p{
 text-align: justify;
 text-justify: distribute-all-lines;
 font-size: 16px;
 font-weight:700;
 line-height: 40px;
 color:#666;
 margin-bottom: 35px;
  
}


.container3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Alinea las cartas en el centro */

 
}

.card4 {
  width: 35%; /* Reducir el ancho de las tarjetas */
  margin-bottom: 50px; /* Reducir el espacio entre las tarjetas */
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 200px;
 
}

.card4 img {
  width: 100%;
  height: auto;
  
}

.card-info {
  padding: 10px;
}
.card-info h3{
  color:#176fc2;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}

.card-info p{
  text-align: justify;
  text-justify: distribute-all-lines;
  line-height: 30px;
  color:#666;
  font-size: 18px;
  font-weight: 700;
}

.Equal-Employment p {
  text-align: justify;
  text-justify: distribute-all-lines;
  color: black;
  line-height: 2em;
  margin: 0 20%;  
  font-size: 1.125rem;  
}


@media (max-width: 768px) {
  .Equal-Employment p {
    font-size: 1rem;  
    margin: 0 10%;  
    line-height: 1.75em;  
  }
}


@media (max-width: 480px) {
  .Equal-Employment p {
    font-size: 0.875rem;  
    margin: 0 8%;  
    line-height: 1.5em;  
  }
}


@media screen and (max-width: 768px) {
  .card4 {
    width: 90%; 
    margin: 10px auto; 
  }
}
/*Information Cards */




  @media (max-width: 1050px){
    .Information{
      gap: 3rem;
  }
 
 }

 @media(max-width: 800px){
  .Information{
    grid-template-columns: 1fr;
    
}
.Information-text2{
  margin-top: 100px;
}

.card4{
  margin-left: 5px;
}

 }

 @media screen and (max-width: 400px) {
    .card1 {
      width: 100%; 
    }
    
  }



  
  




