/*Cards*/

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

.body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}






.card-container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:25px;
    margin-top: 100px;
    z-index: 1;
}


.card{
    width:250px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    overflow:hidden;
    transition: transform 0.6s ease;
}
.card:hover{
    transform: translateY(-20px);
}

.card img{
    width:100%;
    height:auto;
    object-fit: cover;
}

.card-content h1{
    font-size: 15px;
    color:black;
    text-align: center;
    margin-bottom: 10px;
}



.Benefits-heading{
    text-align: center;
}

.Benefits-heading h2{
    font-size: 40px;
    font-weight: 700;
    color:#ffed2a;
    margin-top: 30px;
}

.card-content a{
   font-size: 15px;
  
    color:#ffed2a;
    display:inline-block;
    background-color: #00489d;
    text-decoration: none;
    border-radius: 5px;
    padding:5px;
 
}

.card-content a:hover{
   
    border: 2px solid #ffed2a;
    background: transparent;
    color: #00489d;
}

.card-content{
    padding:20px;
}
/* Information*/
.Information{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 9rem;
}

.Information-img img{
 margin-top: 290px;
  width: 100%;
  height:auto;
  border-radius:10px;
  

}

.Information-text h2{
 text-align: center;
 color:#fff;
 font-size:30px;
 font-weight:800;
 line-height:1.2;
 margin-bottom:25px;
 
  
}

.Information-text h5{
 text-align: center;
 font-size:22px;
 font-weight:700;
 color:#ffed2a;
 text-transform:uppercase;
 letter-spacing:6px;
 margin-bottom:20px;
 margin-top: 190px;
}

.Information-text p{
 text-align: justify;
 text-justify: distribute-all-lines;
 font-size: 17px;
 font-weight:500;
 line-height: 30px;
 color:white;
 margin-bottom: 35px;
  
}
.advantage-container {
    display: flex;
    justify-content: space-between; 
    max-width: 800px; 
    margin: 0 auto; 
  }
  
  .card1 {
    width: 48%; 
    max-width: 350px; 
    margin: 20px 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
  }
  
  .card-content1 h3 {
    font-size: 17px; 
    font-weight: 700;
    color: #3498db;
    margin-top: 20px; 
  }
  
  .card-content1 p {
    text-align: justify;
    text-justify: distribute-all-lines;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px; 
    color: black;
    margin: 10px; 
  }
  
  .slider {
    display: flex;
    overflow: hidden;
  }
  
  .slider-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slider-item {
    min-width: 100%;
    box-sizing: border-box;
  }
  
  .slider-item img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
  }
  
  .slider-controls {
    position: absolute;
    top: 130px; 
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(0%);
  }
  
  .slider-button {
    background: #3498db;
    color: #fff;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 15px;
  }
  
  .slider-button:hover {
    background: #1f65a6;
  }

/*Information Cards */




  @media (max-width: 1050px){
    .Information{
      gap: 3rem;
  }
 
 }

 @media(max-width: 800px){
  .Information{
    grid-template-columns: 1fr;
}

 }

 @media screen and (max-width: 400px) {
    .card1 {
      width: 100%; 
    }
  }
  
  




