* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
   
}

.section{
    background: rgb(237, 235, 235);
    margin-bottom:100px;
}

.title h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    color:#00489d;
    padding-top: 50px;
}

.title h1::after {
    content: "";
    height: 4px;
    width: 230px;
    background-color: yellow;
    display: block;
    margin: auto;
}

.services {
    width: 85%;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px auto;
    text-align: center;
}

.New-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    flex-direction: column;
    margin: 0 20px;
    padding: 50px 20px;
    background-color:#00489d ;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px white;
    transition: background-color 0.4s ease; 
}



.New-card .icon {
    font-size: 35px;
    margin-bottom: 10px;
    color: red;
}

.New-card h2 {
    font-size: 28px;
    color: yellow;
    margin-bottom: 20px;
}

.New-card p {
    font-size: 16px;
    color: white; 
    line-height: 1.5;
}



@media screen and (max-width: 940px){
    .services{
        display: flex;
        flex-direction: column;
    }
    .New-card{
        width: 85%;
        display: flex;
        margin: 20px 0px;
    }
}