/* UserAuth.css */
.user-auth {
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  color: #ffed2a; 
  font-size: 15px; 
  margin-right: 20px; 
}

.user-auth span {
  margin-right: 10px; 
}

.user-auth button {
  background: none;
  border: none;
  color: #ffed2a; 
  padding: 5px 10px;
  cursor: pointer;
  transition: all .50s ease;
}

.user-auth button:hover {
  color: #fff; 
  transform: translateY(-3px);
}
