/* UserAuth.css */
.user-auth {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align to the right side */
  color: #ffed2a; /* Matching the navbar link color */
  font-size: 15px; /* Matching the navbar font size */
  margin-right: 20px; /* Consistent spacing from the right */
}

.user-auth span {
  margin-right: 10px; /* Space between the greeting and the button */
}

.user-auth button {
  background: none;
  border: none;
  color: #ffed2a; /* Matching the navbar link color */
  padding: 5px 10px;
  cursor: pointer;
  transition: all .50s ease;
}

.user-auth button:hover {
  color: #fff; /* Hover effect to match navbar links */
  transform: translateY(-3px);
}
