/* Login form style */

/* Login Form Body */
.Login-form-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: rgb(255, 255, 255);
}

/* Modal Container */
.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

/* Login Modal */
.login-modal {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)) #00489d;
  padding: 120px;
  border-radius: 8px;
  box-shadow: 0 0 10px yellow;
  width: 100%;
  max-width: 700px;
  text-align: center;
  margin-bottom: 80px;
}

.login-modal h2 {
  margin-bottom: 50px;
  color: yellow;
  font-size: 28px; /* Adjust font size for better readability on smaller screens */
}

/* Login Form */
.login-form {
  margin-top: 12px;
  width: 100%;
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  width: 40%;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.login-button {
  font-size: 15px;
  color: #ffed2a;
  display: inline-block;
  background-color: #00489d;
  text-decoration: none;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

.login-button:hover {
  border: 2px solid #ffed2a;
  background: white;
  color: #00489d;
}

/* Responsive Styles for Smart Devices */
@media screen and (max-width: 768px) {
  .login-modal {
    padding: 80px;
  }
  
  .login-modal h2 {
    font-size: 24px; /* Adjust font size */
  }
}

@media screen and (max-width: 500px) {
  .login-modal {
    padding: 60px; /* Adjust padding for smaller screens */
  }

  .login-modal h2 {
    margin-left: 0;
    font-size: 20px; /* Further adjust font size */
  }
}

@media screen and (max-width: 375px) {
  .login-modal {
    padding: 40px; /* Adjust padding for smaller screens */
  }

  .login-modal h2 {
    font-size: 18px; /* Adjust font size */
  }
}
