  /* ThankYouPage style */
.thank-you-card {
  width: 210vh;
  margin-top: 300px;
}

.card-2 {
  width: 400px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  border: 2px solid dodgerblue;
  margin-left:65vh;
}

.card-title-2 {
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;
  color: darkblue;
}

.card-text-2 {
  font-size: 18px;
  margin-bottom: 20px;
  color: #666;
  line-height: 1.5;
  text-align: center;
}
  /* ThankYouPage button style */
.btn-2 {
  display: inline-block;
  padding: 10px 20px;
  background-color: darkblue;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: white;
  color: #0056b3;
  border: 2px solid dodgerblue;
}

/* /*styles of other devices */
@media screen and (max-width: 600px) {
  .card-2 {
    width: 50vh;
  margin-top: 300px;
  margin-left: 3vh;
  }
}
