
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
    min-height: 100vh;
    color: white;
    font-family: Arial, sans-serif; 
    
}


.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 8%;
}


.container .row {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1100px;
}

.container .row .left {
    flex-basis: 35%;
    min-width: 320px;
    margin-right: 60px;
}

.container .row .right {
    flex-basis: 60%;
}


.container .row .left h2 {
    position: relative;
    font-size: 28px;
    color: darkblue;
    margin-bottom: 25px;

}

.container .row .left h2::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 1px;
    background-color: white;
    top: 120%;
    left: 0;
}

.container .row .left h2::after {
    content: '';
    position: absolute;
    width: 25%;
    height: 3px;
    background-color: dodgerblue;
    top: calc(120% - 1px);
    left: 0;
}


.container .row .left p {
    text-align: justify;
    text-justify: distribute-all-lines;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.7);
    line-height: 1.6;
    margin-bottom: 20px;
    font-weight: 700;
}

.container .row .left .contactInfo {
    margin-bottom: 20px;
}

.iconGroup {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.iconGroup .icon {
    width: 45px;
    height: 45px;
    border: 2px solid dodgerblue;
    border-radius: 50%;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconGroup .icon i {
    font-size: 18px;
    color: darkblue;
}

.iconGroup .details span {
    font-size: 15px;
    color: dodgerblue;
    font-weight: 700;
}

.iconGroup .details span:first-child {
    text-transform: uppercase;
    color: Darkblue;
    font-weight: 700;
}

.messageform {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
}

.inputGroup {
    margin-bottom: 20px;
    position: relative;
    width: 100%;
}

.inputGroup label {
    position: absolute;
    left: 0;
    color: darkblue;
    bottom: 20px; 
    font-size: 15px;
    transition: transform 0.4s, font-size 0.4s; 
    pointer-events: none;
    transform-origin: left bottom; 
}

.inputGroup input, 
.inputGroup textarea {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    background: white;
    color: black;
    border: none;
    border-bottom: 2px solid dodgerblue;
    outline: none;
}

.inputGroup textarea {
    resize: none;
    height: 120px;
}
.inputGroup input:focus ~ label, 
.inputGroup textarea:focus ~ label {
    transform: translateY(-100%) scale(0.8); 
    font-size: 12px; 
    bottom: 40px; 
}

.inputGroup input:valid ~ label, 
.inputGroup textarea:valid ~ label {
    transform: translateY(-100%) scale(0.8); 
    font-size: 12px; 
    bottom: 40px; 
}



.inputGroup button {
    padding: 10px 20px;
    font-size: 15px;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)) #00489d;
    color: white;
    border: 1px solid transparent;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.4s;
}

.inputGroup button:hover {
    background-color: #2e2e2e;
    color: dodgerblue;
    border-color: dodgerblue;
}



@media(max-width: 1100px){
    .messageform .halfWidth{
        flex-basis: 100%;
    }
}

@media(max-width: 900px){
    .container .row{
        flex-wrap: wrap;
    }
    .container .row .left, .container .row .right{
        flex-basis: 100%;
        margin:0px;
    }
}

