  /*Navbar style*/
header {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)) #00489d;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
  }
  
  .header.sticky {
    backdrop-filter: blur(35px);
  }
  
  .logo {
    font-size: 1.56rem;
    color: #ffed2a;
    font-weight: 700;
  }
  
  .navbar {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex: 1; 
    list-style-type: none; 
    padding-left: 0; 
    margin: 0; 
  }
  
  .navbar li {
    margin: 0 1rem; 
  }
  
  .navbar a {
    color: #ffed2a;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem;
    text-decoration: none;
  }
  .navbar a:hover {
    color: #ffffff;
  }
  
  .h-right {
    position: absolute; 
    right: 1.7rem; 
    top: 50%;
    transform: translateY(-50%); 
  }
  
  .h-right a {
    color: #ffed2a;
    font-size: 0.938rem;
    margin-right: 2.188rem;
    transition: color 0.5s ease, transform 0.3s ease;
  }
  
  .h-right a:hover {
    color: #ffffff;
    transform: translateY(-0.188rem);
  }
  
  #menu-icon {
    display: none; 
    color: #ffffff;
    font-size: 1.875rem;
    cursor: pointer;
  }
  /*styles of other devices */
  @media (max-width: 1200px) {
    header {
      padding: 0.875rem 5%;
    }
  }
  
  @media (max-width: 1050px) {
    header {
      justify-content: space-between; 
    }
  
    .navbar,
    .h-right {
      display: none;
    }
  
    #menu-icon {
      display: block;
    }
  
    .navbar.open {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 100%; 
      left: 0;
      width: 100%;
      background: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)) #00489d;
      padding: 2.5rem 3.75rem;
      gap: 2.5rem;
    }
  }
  
  @media (max-width: 450px) {
    header {
      padding: 0.75rem 3%;
    }
  }
  

  .navbar.open {
    display: block;
    position: absolute;
    top: 100%; 
    left: 0;
    right: 0; 
    background: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)) #00489d;
    padding: 1rem 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
    z-index: 999;
  }
  
  .navbar a {
    display: block; 
    text-align: center; 
    padding: 0.5rem 0; 
  }
  
  .h-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    padding-right: 1rem;
  }
  
  @media (max-width: 1050px) {
    .navbar {
      display: none; 
    }
  
    #menu-icon {
      display: block;
      cursor: pointer;
      margin-left: auto; 
    }
  }