/* Sidebar styles */
body .sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  background-color: gray;
  padding-top: 50px;
  overflow-y: auto;
}

body .logo-name {
  margin-left: 8px;
}

body .logo_name {
  color: white;
}

body .logo-name span {
  font-size: 15px;
  font-weight: bold;
  padding-left: 15px;
  text-transform: uppercase;
  line-height: 4.0;
}

body .logo-name a {
  position: relative;
  color: yellow;
  display: block;
  padding: 15px 20px;
}

body .logo-name a:hover {
  background-color: darkgray;
}

body .logout {
  position: absolute;
  top: 350px;
  left: 0;
}





/* Content area styles */
.content {
  width: calc(100% - 400px); /* Cambiado a 300px para corresponder con el ancho del sidebar */
  margin-left: 400px; /* Cambiado a 300px para corresponder con el ancho del sidebar */
  padding: 20px;
}

/* Table styles */
.list {
  margin-bottom: 250px;
  width: 30%; /* Reduciendo el ancho de la tabla */
  margin-left: 470px; /* Quitando el margen izquierdo */
  margin-right: 20px; /* Agregando un margen derecho para mover la tabla hacia la derecha */
}
.list-2 {
  margin-bottom: 250px;
  width: 30%; /* Reduciendo el ancho de la tabla */
  margin-left: 350px; /* Quitando el margen izquierdo */
  margin-right: 20px; /* Agregando un margen derecho para mover la tabla hacia la derecha */
}
.list-2 td p {
  word-wrap: break-word; /* Permite que las palabras largas se rompan y se muevan a la siguiente línea */
  max-width: 150px; /* Ancho máximo para la celda de la tabla */
}
.list td p {
  word-wrap: break-word; /* Permite que las palabras largas se rompan y se muevan a la siguiente línea */
  max-width: 150px; /* Ancho máximo para la celda de la tabla */
}

.list-2 th p{
  color:black;
}
.list th p{
  color:black;
}

.list-2 th,
.list-2 td {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: left;
}

.list th,
.list td {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: left;
}
.list-2 th {
  background-color: #f2f2f2;
  color: black;
  text-align: justify;
  text-justify: distribute-all-lines;
}
.list th {
  background-color: #f2f2f2;
  color: black;
  text-align: justify;
  text-justify: distribute-all-lines;
}
.list-2 td {
  color: white;
}

.list td {
  color: white;
}

.list td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list td-2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Job Form styles */
.job-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
 
  
}

.job-form h2 {
margin-top: 50px;
  color: darkblue;


}

.job-form label {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  color: dodgerblue;
}

.job-form input[type="text"],
.job-form textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.job-form button {
  width: 100%;
  padding: 10px;
  background-color: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)) #00489d;
  color: yellow;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.job-form button:hover {
  background-color: #2e2e2e;
  color: dodgerblue;
  border-color: dodgerblue;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%; /* Haz que el sidebar ocupe todo el ancho de la pantalla */
    height: auto; /* Permitir que el alto se ajuste automáticamente */
    padding-top: 20px; /* Reducir el espacio superior */
    overflow-y: hidden; /* Ocultar la barra de desplazamiento vertical en dispositivos móviles */
    position: static; /* Cambiar la posición a estática para que no esté fijo */
  }

  .logout {
    position: static; /* Cambiar la posición a estática para que no esté absoluta */
    margin-top: 20px; /* Añadir un espacio entre el sidebar y el botón de logout */
  }

  .content {
    width: 100%; /* Haz que el contenido ocupe todo el ancho de la pantalla */
    margin-left: 0; /* Eliminar el margen izquierdo */
  }

  .list,
  .list-2 {
    width: 100%; /* Haz que las tablas ocupen todo el ancho de la pantalla */
    margin-left: 0; /* Eliminar el margen izquierdo */
    margin-right: 0; /* Eliminar el margen derecho */
  }

  .job-form h2 {
    margin-top: 20px; /* Reducir el espacio superior para el título del formulario */
  }
}
