
h2{
  color:black;
}
.job-listing {
  padding: 25px;
  margin: 10px 0;
  border: 1px solid linear-gradient(to left, rgba(0,0,0,0.6), rgba(0,0,0,0.3))#00489d;;
  border-radius: 4px;
  background:dodgerblue;
  margin-top: 200px;
  width:20%;
  border-radius: 10px;
  margin-left: 20px;

}

.job-listing h3 {
  color: white;
  margin-bottom: 8px;
  text-align: center;
}

.job-listing p {
  color: #666;
  margin-bottom: 5px;
}

