 /*Job Listing page style */

.job-listing {
  padding: 25px;
  margin: 10px 0;
  border: 1px solid linear-gradient(to left, rgba(0,0,0,0.6), rgba(0,0,0,0.3))#00489d;
  border-radius: 5px;
  background:dodgerblue;
  margin-top: 100px;
  margin-bottom: 50px;
  width:20%;
  border-radius: 10px;
  margin-left: 37em;
  text-align: center;

}

.job-listing h3 {
  color: white;
  margin-bottom: 8px;
  text-align: center;
 
}


