 /*Prosthetics page body background */
.Prosthetics-body{
    background: url(../../assets/Mainbackground1.png);
    
}
 /*Prosthetics page main style */
.prosthetics-main{
   
    margin-bottom:100px;
   
}
.prosthetics{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items:center;
    gap: 9rem;
    margin-bottom:50px;
}
 /*Prosthetics page img style */
.prosthetics-img img{

    width:80%;
    height:auto;
    border-radius:10px;
    margin-left: 20px;
    margin-top: 70px;
    margin-left: 20px;
}


 /*Prosthetics page headings style */
.prosthetics-text h5{
    text-align: center;
    font-size:28px;
    font-weight:800;
    color:darkblue;
    letter-spacing:6px;
    margin-bottom:30px;
    margin-top: 80px;
    
  
}

.prosthetics-text h2{
    text-align: center;
    color:#176fc2;
    font-size:25px;
    font-weight:800;
    line-height:1.2;
    margin-bottom:25px;
}
 /*Prosthetics page style content  */
.prosthetics-text p{
    text-align: justify;
    text-justify: distribute-all-lines;
    font-size: 18px;
    font-weight:700;
    line-height: 45px;
    color:#313131;
    margin-bottom: 35px;
    margin-right: 35px;
}

.center-text{
    text-align: center;
    
}
.Types-of-prostheses {
    margin-top: -180px; /* Ajusta este valor según sea necesario para mover la sección hacia arriba */
}

.center-text h2{
   
    font-size: 40px;
    font-weight: 700;
    color:darkblue;
    margin-bottom: 50px;
}

.variants-content{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,auto));
    align-items: center;
    gap:3rem;
    margin-top: 5rem;
}

.box{
    position: relative;
}

.box img{
    width:90%;
    height:90%;
    object-fit: cover;
    border-radius:10px;
    filter:brightness(100%);
    transition: all .3s cubic-bezier(.499,.05,.55,.95);
    will-change:filter;
    display:block;
    margin-left:11px;
}

    .box h6{
        position:absolute;
        left: 25px;
        bottom:95px;
        font-size: 18px;
        font-weight:300;
        

    }

    .box img:hover{
        
        transform:scale(1.04);
        cursor:pointer;
    }
    
    .newsletter-content{
        margin-left: 30px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        gap:2rem;
      
       
    }

    .newsletter-text h2{
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 15px;
        color:darkblue;
       
    }

    .newsletter-text p{
        font-size: 18px;
        font-weight: 800;
        color:#176fc2;
       
    }
    
/*styles of other devices */

@media (max-width: 1050px){
    
    .prosthetics{
        gap:3rem;
    }
   

    
    
}

@media (max-width: 800px){
    .prosthetics{
        grid-template-columns: 1fr;
        
    }
    .newsletter-content{
        grid-template-columns: 1fr;
       
    }
    .prosthetics-text{
        margin-left: 20px;
    }
   .prosthetics-img img{
    width:95%;
    height:auto;
    margin-left: 20px;
   }
}


/* Para pantallas pequeñas (teléfonos) */
@media screen and (max-width: 600px) {
    .prosthetics{
        grid-template-columns: 1fr;
        
    }
    
    .prosthetics-img img{
        width:95%;
        height:auto;
       }
    .newsletter-content{
        grid-template-columns: 1fr;
      
    }
    .prosthetics-text{
        margin-left: 20px;
    }
}

/* Para pantallas medianas (tabletas en modo horizontal) */
@media screen and (min-width: 601px) and (max-width: 900px) {
    .prosthetics{
        grid-template-columns: 1fr;
        
    }
    .newsletter-content{
        grid-template-columns: 1fr;
      
    }
    .prosthetics-text{
        margin-left: 20px;
    }
    .prosthetics-img img{
        width:95%;
        height:auto;
       }
}

/* Para pantallas medianas (tabletas en modo vertical) */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    .prosthetics{
        grid-template-columns: 1fr;
        
    }
    .newsletter-content{
        grid-template-columns: 1fr;
      
    }
    .prosthetics-text{
        margin-left: 20px;
    }

    .prosthetics-img img{
        width:95%;
        height:auto;
       }
}

/* Para pantallas grandes (laptops y ordenadores de escritorio) */
@media screen and (min-width: 1025px) {
    .prosthetics{
        gap:3rem;
    }
   
}
     
     





