.Prosthetics-body{
    background: url(../../assets/Mainbackground1.png);
    
}

.prosthetics-main{
   
    margin-bottom:100px;
   
}
.prosthetics{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items:center;
    gap: 9rem;
    margin-bottom:50px;
}
.prosthetics-img img{

    width:80%;
    height:auto;
    border-radius:10px;
    margin-left: 20px;
    margin-top: 45px;
    margin-left: 20px;
}



.prosthetics-text h5{
    font-size:28px;
    font-weight:800;
    color:darkblue;
    letter-spacing:6px;
    margin-bottom:30px;
    margin-top: 80px;
    
  
}

.prosthetics-text h2{
    color:#176fc2;
    font-size:25px;
    font-weight:800;
    line-height:1.2;
    margin-bottom:25px;
}

.prosthetics-text p{
    text-align: justify;
    text-justify: distribute-all-lines;
    font-size: 17px;
    font-weight:700;
    line-height: 45px;
    color:#666;
    margin-bottom: 35px;
    margin-right: 35px;
}

.center-text{
    text-align: center;
    
}
.Types-of-prostheses {
    margin-top: -180px; /* Ajusta este valor según sea necesario para mover la sección hacia arriba */
}

.center-text h2{
   
    font-size: 40px;
    font-weight: 700;
    color:darkblue;
    margin-bottom: 50px;
}

.variants-content{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,auto));
    align-items: center;
    gap:3rem;
    margin-top: 5rem;
}

.box{
    position: relative;
}

.box img{
    width:90%;
    height:90%;
    object-fit: cover;
    border-radius:10px;
    filter:brightness(100%);
    transition: all .3s cubic-bezier(.499,.05,.55,.95);
    will-change:filter;
    display:block;
    margin-left:11px;
}

    .box h6{
        position:absolute;
        left: 25px;
        bottom:95px;
        font-size: 18px;
        font-weight:300;
        

    }

    .box img:hover{
        
        transform:scale(1.04);
        cursor:pointer;
    }
    
    .newsletter-content{
        margin-left: 30px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        gap:2rem;
      
       
    }

    .newsletter-text h2{
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 15px;
        color:darkblue;
       
    }

    .newsletter-text p{
        font-size: 18px;
        font-weight: 800;
        color:#176fc2;
       
    }
    .container3 {
        bottom: 20px;
        display: flex; /* Utilizamos flexbox */
        flex-direction: column; /* La disposición de los elementos será en columnas */
        
        margin-left: 20px;
        width: 100%;
    }
    
    .column-left3, .column-right3 {
        padding: 10px; /* Agregamos un poco de espacio alrededor de los elementos */
    }
    
    .column-left3 {
        order: 2; /* Cambia el orden en dispositivos móviles */
    }
    
    .column-right3 {
        order: 2; /* Cambia el orden en dispositivos móviles */
    }
 .column-left3 h3{
    font-size: 22px;
    color:darkblue;
    font-weight: 800;
    margin-left: 20px;
 }
    .column-left3 p {
         font-size: 15px;
         color:#176fc2;
         font-weight: 800;
         margin-left: 20px;
    }

    
    .btn3 {
        width: 25%;
        padding: 10px 20px;
        background-color: #00489d;
        color:#ffed2a;
        border: none;
        border-radius: 5px;
        margin-left: 150px;
        margin-top: 20px;
    }
    
    .btn3:hover {
       
        border: 2px solid #ffed2a;
        background: white;
        color: #00489d;
      }
    /* Media query para pantallas más grandes (computadoras) */
    @media screen and (min-width: 768px) {
        .container3 {
            flex-direction: row; /* Cambia la disposición a filas en pantallas más grandes */
        }
    
        .column-left3, .column-right3 {
            flex: 1; /* Ambas columnas tomarán el mismo espacio */
        }
    
        .column-left3 {
            order: 1; /* Cambia el orden a izquierda */
        }
    
        .column-right3 {
            order: 2; /* Cambia el orden a derecha */
        }
    }
    

@media (max-width: 1050px){
    
    .prosthetics{
        gap:3rem;
    }
   

    
    
}

@media (max-width: 800px){
    .prosthetics{
        grid-template-columns: 1fr;
        
    }
    .newsletter-content{
        grid-template-columns: 1fr;
       
    }
    .prosthetics-text{
        margin-left: 20px;
    }
   .prosthetics-img img{
    width:95%;
    height:auto;
    margin-left: 20px;
   }
}


/* Para pantallas pequeñas (teléfonos) */
@media screen and (max-width: 600px) {
    .prosthetics{
        grid-template-columns: 1fr;
        
    }
    
    .prosthetics-img img{
        width:95%;
        height:auto;
       }
    .newsletter-content{
        grid-template-columns: 1fr;
      
    }
    .prosthetics-text{
        margin-left: 20px;
    }
}

/* Para pantallas medianas (tabletas en modo horizontal) */
@media screen and (min-width: 601px) and (max-width: 900px) {
    .prosthetics{
        grid-template-columns: 1fr;
        
    }
    .newsletter-content{
        grid-template-columns: 1fr;
      
    }
    .prosthetics-text{
        margin-left: 20px;
    }
    .prosthetics-img img{
        width:95%;
        height:auto;
       }
}

/* Para pantallas medianas (tabletas en modo vertical) */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    .prosthetics{
        grid-template-columns: 1fr;
        
    }
    .newsletter-content{
        grid-template-columns: 1fr;
      
    }
    .prosthetics-text{
        margin-left: 20px;
    }

    .prosthetics-img img{
        width:95%;
        height:auto;
       }
}

/* Para pantallas grandes (laptops y ordenadores de escritorio) */
@media screen and (min-width: 1025px) {
    .prosthetics{
        gap:3rem;
    }
   
}
     
     





